.header
  width: 100%
  padding: 50px
  color: #fff
  &-title
    font-size: 50px
    line-height: 1em
    margin: 20px 0
    font-weight: lighter
  &-content
    font-size: 16px
    margin-bottom: 50px
    font-weight: lighter
  &-image
    >img
      width: 100%

// SMM HEADER
.b-smm-header
  z-index: 2
  .is-tablet &,
  .is-mobile &
    text-align: left

  @media (max-width: 800px)
    text-align: left

  .mobile-menu
    transition: all 200ms
    .is-mobile &
      &_hide
        display: none
    .is-mobile &
      &_drop
        background-color: var(--bg-color) !important
    @media (max-width: 800px)
      &_drop
        background-color: var(--bg-color) !important

  &__col
    padding: 0 1.6rem !important

  .b-grid__row
    .is-mobile &
      padding: 0 !important
    @media (max-width: 800px)
      &
        padding: 0 !important

  .b-one
    .is-mobile &
      margin-top: auto
      order: 1
    @media (max-width: 800px)
      margin-top: auto
      margin-bottom: 8px
      order: 1
    @media (max-height: 420px)
      width: auto
      margin-top: 8px
      margin-bottom: 8px

  .b-header-link
    .is-mobile &
      font-size: 1.6rem
    @media (max-width: 800px)
      font-size: 1.6rem

  .b-logo
    display: block
    .is-tablet &,
    .is-mobile &
      margin: 0.4rem auto

    @media (max-width: 800px)
      margin: 0.4rem auto

  @media (max-height: 420px) and (max-width: 800px) and (min-width: 480px)
    .b-slot .b-draggable-slot > div
      width: 50% !important

// HEADER CENTRED LOGO
.b-header-logo
  .b-logo-one
    .is-mobile &
      order: 1
    @media (max-width: 800px)
      order: 1

  .mobile-header
    padding: 0
    display: none
    .is-mobile &
      display: block
    @media (max-width: 800px)
      display: block

// BUTTON HEADER
.b-button-header
  .b-button-one
    .is-mobile &
      order: 1

// FANTASY BUTTON HEADER
.b-fantasy-header
  .b-button-one
    .is-mobile &
      order: 1
    @media (max-width: 800px)
      order: 1
