// Colors

$white: #fff
$black: #000

// Blue
$dark-blue: #203D5F
$dark-blue-krayola: #2275D7
$pigeon-blue: #5D7899

// Grey
$grey: #c4c4c4
$dark-grey: #333333
$ligth-grey: #E4E4E4


//Orange
$orange: #DB4E2B
