.b-panel
  height: 100%
  width: 100%

  padding-bottom: 4.5rem

  display: flex
  flex-direction: column
  align-items: stretch
  justify-content: flex-start
  &__title
    font-size: 1.8rem
    font-weight: 800
    line-height: 1
    text-transform: uppercase
    text-align: center
    letter-spacing: 0.065em

    display: flex
    align-items: center
    justify-content: center

    height: 7rem
    padding: 0.5rem 2rem 0
    margin: 0
    &_name-section
      font-size: 1.4rem

  &__control
    margin-bottom: 1.6rem
    padding: 0 3.6rem 0 2.4rem
  &__inner
    max-width: 330rem
    padding: 0
  &__platform
    margin: 0.8rem 0 2.2rem
    text-align: center
    & svg
      width: 25px
