section
  position: relative
  width: 100%
  margin: 0

  text-align: center

  display: flex
  justify-content: center
  flex-direction: column

  transition: background 200ms
  z-index: 1
  .is-tablet &
    padding: $size-step/4 !important
  .is-mobile
    padding: $size-step/8 !important
  .is-tablet &,
  .is-mobile &
    height: auto !important
  @media only screen and (max-width: 768px)
    &
      padding: $size-step/8
      height: auto !important

.main
  &_showPopup
    & > section:not(.b-gallery-popup)
      z-index: 0 !important
